
@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy-extrabold-webfont.eot');
  src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
  url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy-light-webfont.eot');
  src: url('../fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-light-webfont.woff') format('woff'),
  url('../fonts/gilroy-light-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-light-webfont.svg#gilroylight') format('svg');
  font-weight: normal;
  font-style: normal;

}