$base-font-family: 'gilroy', sans-serif;
$base-font-size: 18px;
$link-font-size: 17px;

$bold-font-weight: bold;
$light-font-weight: normal;

$h1-big-font-size: 100px;
$h1-font-size: 50px;
$h2-font-size: 20px;


$h1-tablet-big-font-size: 40px;
$h1-tablet-font-size: 25px;
$base-tablet-font-size: 16px;


$line-height: 1.3;
$letter-spacing: 5px;

$base-bg-color: #F3F0EA;
$light-color: #B6B5B2;
$base-color: #424242;
$inline-link-color: #C1AF8C;
